<nav class="navbar navbar-inverse" >

  <div class="container-fluid">

    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">NCI Bank App</a>
    </div>

    <div class="collapse navbar-collapse">

      <ul class="nav navbar-nav">

        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true }">
          <a routerLink="/">Home</a>
        </li>

        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true }">
          <a routerLink="/customers">Customers</a>
        </li>

        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true }">
          <a routerLink="/accounts">Accounts</a>
        </li>

        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true }">
          <a routerLink="/transactions">Transactions</a>
        </li>

      </ul>

    </div>

  </div>

</nav>
