<div *ngIf="showSavedMessage" class="alert alert-success box-msg" role="alert">
  Your changes have been saved.
</div>

<app-save-account *ngIf="isEditingAccount; else list_mode"
                   (accountSaved)="accountSavedEvent($event)"
                   [selectedAccount]="selectedAccount"></app-save-account>

<ng-template #list_mode>
  <div class="col-xs-12">

    <button class="btn btn-success" (click)="createAccountButtonClick()">Create Bank Account</button>

    <hr>

    <div class="table-responsive">
      <table class="table">

        <thead>
        <tr>
          <th>Account Number</th>
          <th>Account Owner</th>
          <th>Balance</th>
          <th>Short Code</th>
          <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let account of accounts">
          <td>{{account.accountNumber}}</td>
          <td>{{account.customer.name}}</td>
          <td>{{account.balance}}</td>
          <td>{{account.shortCode}}</td>
          <td>
            <button (click)="editAccount(account)" class="btn btn-primary">
              <span class="glyphicon glyphicon-edit"></span> Edit
            </button>
            <button (click)="deleteAccount(account)" class="btn btn-danger">
              <span class="glyphicon glyphicon-remove"></span> Delete
            </button>
          </td>
        </tr>
        </tbody>

      </table>
    </div>

  </div>
</ng-template>
