/* You can add global styles to this file, and also import other style files */
.ng-valid[required], .ng-valid.required  {
  border-left: 10px solid darkgreen;
}

.ng-invalid:not(form):not(.ng-pristine)  {
  border-left: 10px solid darkred;
}
