<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

      <form (ngSubmit)="submitSaveAccount()" #accountForm="ngForm">

        <div id="customer-data">

          <div class="form-group" *ngIf="selectedAccount == null">
            <label for="customerId">Customer ID</label>
            <input type="number" id="customerId" class="form-control" name="customerId" [(ngModel)]="customerId" required>
          </div>

          <div class="form-group">
            <label for="accountNumber">Account Number</label>
            <input type="text" id="accountNumber" class="form-control" name="accountNumber" [(ngModel)]="accountNumber" required>
          </div>

          <div class="form-group">
            <label for="balance">Balance</label>
            <input type="number" id="balance" class="form-control" name="balance" [(ngModel)]="balance" required>
          </div>

          <div class="form-group">
            <label for="shortCode">Short Code</label>
            <input type="text" id="shortCode" class="form-control" name="shortCode" [(ngModel)]="shortCode" required>
          </div>

        </div>

        <button [disabled]="!accountForm.valid" class="btn btn-primary" type="submit">Submit</button>

      </form>

    </div>
  </div>
</div>
