<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

      <form (ngSubmit)="submitSaveCustomer()" #customerForm="ngForm">

        <div id="customer-data">

          <div class="form-group">
            <label for="name">Customer Name</label>
            <input type="text" id="name" class="form-control" name="name" [(ngModel)]="customerName" required>
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" class="form-control" name="email" [(ngModel)]="email" required email>
          </div>

          <div class="form-group">
            <label for="address">Address</label>
            <input type="text" id="address" class="form-control" name="address" [(ngModel)]="address" required>
          </div>

        </div>

        <button [disabled]="!customerForm.valid" class="btn btn-primary" type="submit">Submit</button>

      </form>

    </div>
  </div>
</div>
