<div class="row">

  <div *ngIf="showSavedMessage" class="alert alert-success box-msg" role="alert">
    Your changes have been saved.
  </div>

  <app-save-customer *ngIf="isEditingCustomer; else list_mode"
                     (customerSaved)="customerSavedEvent($event)"
                     [selectedCustomer]="selectedCustomer"></app-save-customer>

  <ng-template #list_mode>
    <div class="col-xs-12">

      <button class="btn btn-success" (click)="createCustomerButtonClick()">Create Customer</button>

      <hr>

      <div class="table-responsive">
        <table class="table">

          <thead>
            <tr>
              <th>Name</th>
              <th>Address</th>
              <th>Email</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let customer of customers">
              <td>{{customer.name}}</td>
              <td>{{customer.address}}</td>
              <td>{{customer.email}}</td>
              <td>
                <button (click)="editCustomer(customer)" class="btn btn-primary">
                  <span class="glyphicon glyphicon-edit"></span> Edit
                </button>
                <button (click)="deleteCustomer(customer)" class="btn btn-danger">
                  <span class="glyphicon glyphicon-remove"></span> Delete
                </button>
              </td>
            </tr>
          </tbody>

        </table>
      </div>

    </div>
  </ng-template>

</div>
