<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

      <form (ngSubmit)="submitCreateTransaction()" #transactionForm="ngForm">

        <div id="customer-data">

          <div class="form-group">
            <label for="accountId">Account ID</label>
            <input type="number" id="accountId" class="form-control" name="accountId" [(ngModel)]="accountId" required>
          </div>

          <div class="form-group">
            <label for="type">Type</label>
            <select id="type" class="form-control" name="type" [(ngModel)]="type" required>
              <option value="CREDIT">CREDIT</option>
              <option value="DEBIT">DEBIT</option>
            </select>
          </div>

          <div class="form-group">
            <label for="amount">Amount</label>
            <input type="number" id="amount" class="form-control" name="amount" [(ngModel)]="amount" required>
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" id="description" class="form-control" name="description" [(ngModel)]="description" required>
          </div>

        </div>

        <button [disabled]="!transactionForm.valid" class="btn btn-primary" type="submit">Start Transaction</button>

      </form>

    </div>
  </div>
</div>
