<div class="row">

  <div *ngIf="showSavedMessage" class="alert alert-success box-msg" role="alert">
    Your changes have been saved.
  </div>

  <app-create-transaction *ngIf="isEditingTransaction; else list_mode"
                     (transactionSaved)="transactionSavedEvent($event)"></app-create-transaction>

  <ng-template #list_mode>
    <div class="col-xs-12">

      <button class="btn btn-success" (click)="createTransactionButtonClick()">New Transaction</button>

      <hr>

      <div class="table-responsive">
        <table class="table">

          <thead>
          <tr>
            <th>Account Id</th>
            <th>Type</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Transaction Reference</th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let transaction of transactions">
            <td>{{transaction.account.id}}</td>
            <td>{{transaction.type}}</td>
            <td>{{transaction.description}}</td>
            <td>{{transaction.amount}}</td>
            <td>{{transaction.transactionReference}}</td>
            <td></td>
          </tr>
          </tbody>

        </table>
      </div>

    </div>
  </ng-template>

</div>
