<p>
  Welcome on  NCI Online Bank Prototype application site!
</p>
<p>
  This project is the final project for Web Services and API development
</p>
<p>
  This UI is Angular 5 and TypeScript
</p>
<p>
  The back-end is Java 8 (Hibernate JPA) project exposing RESTFUL Web Services
</p>
